#skills {
  padding-bottom: 50px;
  width: 600px;
  margin: auto;
  margin-top: 50px;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 70px;
    li {
      font-size: 45px;
      display: flex;
      flex-direction: row;
      gap: 15px;
    }
  }
}
